<h1>USER LIST PAGE<h1>

<div class="nav">
    <%if admin_signed_in? %>
      <%= button_to "Sign Out", destroy_admin_session_path, method: :delete %>

      <%= link_to "Edit your profile", edit_admin_registration_path %>
      
    <% else %>
      <%= link_to "Sign In",  new_admin_session_path %>
    <% end %>
</div>

<div>
   <% @users.each do |user|%> 
    <div>
       <%= link_to user_path(user.id) do %>
        <img src="<%= user.photo %>" alt="user photo">
       <% end %>

       <span>
         <%= link_to user_path(user.id) do %>
         <span> <%= user.name %> </span>
         <% end %>
         <span>Number of post:<%= user.post_counter %></span>
      </span>
    </div>
   <% end %>
    
</div>
