<%= form_with model: Post, url: user_posts_path, class: "form-create" do |form_post| %>
<%# remote:true to enable ajax/xhm...no need to refresh the page to see changes %>
<% if @post.errors.any? %>
 <p>The following errors prevented the article from saving:</p>
 <ul>
 <% @post.errors.full_messages.each do |msg|%>
 <li><%= msg %></li>
 <% end %>
 </ul>
 <% else %>
   <p>Your post was created successfully</p>
<% end %>


<p>
    <%= form_post.label :title %>
    <%= form_post.text_field :title %>
</p>

<p>
    <%= form_post.label :text %>
    <%= form_post.text_area :text  %>
</p>

<p>
    <%= form_post.submit "submit", class: "submit-btn"%>
</p>

<%end%>
